
    .header_box {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        background-color: #B361ED;
        color: white;
    }
  
    .grid_box {
        display: flex;
        padding: 30px;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 30vh;
    }
    
    .item_grid {
        justify-content: space-evenly;
        align-items: center;
    }