@media (min-width: 1200px){
  .home_section {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px){
  .cards { grid-template-columns: repeat(2, 1fr); }
}